@import 'lib.less';

.container {
  overflow: hidden;
}
.navbar-container {
  transition: all 0.2s linear;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: @color-transparent;
  top: 0;
  &.overlay {
    background-color: @primary-color-darkest-opaque;
  }
  &.hide {
    top: -54px;
  }
}
.banner-container {
  background-color: @primary-color-darkest;
  min-height: 100vh;
}
.banner-background {
  filter: blur(60px);
}
.banner-blob {
  position: absolute;
  opacity: 0.3;
  top: -10vw;
  left: -10vw;
  z-index: -1;
  height: 20vw;
  width: 20vw;
  background-color: @primary-color;
  z-index: -1;
  @media @sm, @xs {
    height: 40vw;
    width: 40vw;
  }
}
.banner-blob-2 {
  position: absolute;
  opacity: 0.3;
  top: 2vw;
  right: -12vw;
  z-index: -1;
  height: 20vw;
  width: 20vw;
  background-color: @secondary-color;
  z-index: -1;
  @media @sm, @xs {
    top: 10vw;
    height: 40vw;
    width: 40vw;
  }
}
.banner-blob-3 {
  position: absolute;
  opacity: 0.3;
  top: 25vw;
  right: -18vw;
  z-index: -1;
  height: 20vw;
  width: 20vw;
  background-color: @primary-color;
  z-index: -1;
  @media @sm, @xs {
    top: 65vw;
    height: 40vw;
    width: 40vw;
  }
}
.banner-content-container {
  height: 100vh;
  padding-top: 54px;
}
.banner-title {
  font-size: 72px !important;
  margin-top: 0 !important;
  @media @sm, @xs {
    font-size: 48px !important;
  }
}
.banner-subtitle {
  margin-top: 0 !important;
}
.banner-illustration-container {
  @media @md, @sm, @xs {
    display: none !important;
  }
}
.banner-illustration {
  width: 100%;
}

.experience-container {
  position: relative;
  padding-top: 100px;
}
.experience-view-transition {
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: @primary-color-darkest;
  z-index: -1;
}
.experience-view-transition-white {
  position: absolute;
  top: 0;
  height: 200px;
  width: 100%;
  background-color: white;
  border-radius: 50%;
  z-index: -1;  
}
.experience-about-card {
  position: absolute;
  top: -10px;
  width: 550px;
  background-color: white;
  border-radius: 16px;
  left: 50%;
  transform: translate(-50%, 0);
  @media @sm, @xs {
    width: 100% - 8px;
    max-width: 550px;
  }
  @media screen and (max-width: 374px) {
       font-size: 11px;
  }
}
.experience-avatar {
  width: 68px !important;
  height: 68px !important;
  @media @sm, @xs {
    width: 12vw !important;
    height: 12vw !important;
    max-width: 68px !important;
    max-height: 68px !important;
  }
}
.experience-cards-container {
  @media @md, @sm, @xs {
    transition: all 0.2s linear;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 8px 0;
  }
}
.experience-cards-divider {
  width: 30px !important;
}
.experience-background {
  filter: blur(60px);
}
.experience-blob {
  position: absolute;
  opacity: 0.5;
  top: 10vw;
  left: -10vw;
  z-index: -1;
  height: 20vw;
  width: 20vw;
  z-index: -1;
  background-color: @secondary-color;
}
.experience-blob-2 {
  position: absolute;
  opacity: 0.3;
  top: 16vw;
  right: -10vw;
  z-index: -1;
  height: 30vw;
  width: 30vw;
  z-index: -1;
  background-color: @primary-color;
}
.tools-link-html {
  color: rgb(242,103,46) !important;
  &:hover {
    color: rgb(240, 136, 110) !important;
  }
  &:active {
    color: rgb(201, 61, 25) !important;
  }
}
.tools-link-js {
  color: rgb(242,191,37) !important;
  &:hover {
    color: rgb(241, 204, 93) !important;
  }
  &:active {
    color: rgb(218, 169, 23) !important;
  }
}
.tools-link-css {
  color: rgb(48,170,221) !important;
  &:hover {
    color: rgb(85, 184, 226) !important;
  }
  &:active {
    color: rgb(30, 151, 202) !important;
  }
}
.tools-link-ts {
  color: rgb(1, 122, 204) !important;
  &:hover {
    color: rgb(34, 156, 238) !important;
  }
  &:active {
    color: rgb(0, 100, 167) !important;
  }
}
.tools-link-react {
  color: rgb(97,218,251) !important;
  &:hover {
    color: rgb(126, 227, 255) !important;
  }
  &:active {
    color: rgb(59, 183, 218) !important;
  }
}
.tools-link-redux {
  color: rgb(118,74,188) !important;
  &:hover {
    color: rgb(153, 116, 212) !important;
  }
  &:active {
    color: rgb(88, 47, 153) !important;
  }
}
.tools-link-less {
  color: rgb(42,76,130) !important;
  &:hover {
    color: rgb(81, 111, 160) !important;
  }
  &:active {
    color: rgb(23, 50, 94) !important;
  }
}
.tools-link-styled-components {
  color: rgb(231,135,204) !important;
  &:hover {
    color: rgb(233, 163, 213) !important;
  }
  &:active {
    color: rgb(197, 98, 169) !important;
  }
}
.tools-link-antd {
  color: rgb(15,117,255) !important;
  &:hover {
    color: rgb(68, 146, 255) !important;
  }
  &:active {
    color: rgb(0, 89, 214) !important;
  }
}
.tools-link-node {
  color: rgb(105,159,99) !important;
  &:hover {
    color: rgb(139, 185, 134) !important;
  }
  &:active {
    color: rgb(78, 129, 72) !important;
  }
}
.tools-link-postgre {
  color: rgb(50,103,145) !important;
  &:hover {
    color: rgb(76, 128, 170) !important;
  }
  &:active {
    color: rgb(32, 78, 116) !important;
  }
}
.tools-link-mongo {
  color: rgb(17,170,82) !important;
  &:hover {
    color: rgb(38, 190, 102) !important;
  }
  &:active {
    color: rgb(1, 131, 55) !important;
  }
}
@tools-circle-dimension: 400px;
.tools-circle-container {
  position: relative;
  height: @tools-circle-dimension;
  width: @tools-circle-dimension;
  @media @md, @sm, @xs {
    height: @tools-circle-dimension / 2;
    width: @tools-circle-dimension / 2;
  }
}
.tools-circle-colored {
  position: absolute;
  background-color: @secondary-color;
  height: @tools-circle-dimension / 1.5;
  width: @tools-circle-dimension / 1.5;
  border-radius: 50%;
  left: 40%;
  bottom: 40%;
  @media @md, @sm, @xs {
    height: @tools-circle-dimension / 1.5 / 2;
    width: @tools-circle-dimension / 1.5 / 2;
  }
}
.tools-circle-colored-2 {
  position: absolute;
  background-color: @primary-color;
  height: @tools-circle-dimension / 1.5;
  width: @tools-circle-dimension / 1.5;
  border-radius: 50%;
  left: 30%;
  top: 40%;
  @media @md, @sm, @xs {
    height: @tools-circle-dimension / 1.5 / 2;
    width: @tools-circle-dimension / 1.5 / 2;
  }
}
.tools-circle {
  position: absolute;
  height: @tools-circle-dimension;
  width: @tools-circle-dimension;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @media @md, @sm, @xs {
    height: @tools-circle-dimension / 2;
    width: @tools-circle-dimension / 2;
  }
}
.tools-circle-2 {
  position: absolute;
  height: @tools-circle-dimension * 3 / 4;
  width: @tools-circle-dimension * 3 / 4;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @media @md, @sm, @xs {
    height: @tools-circle-dimension * 3 / 4 / 2;
    width: @tools-circle-dimension * 3 / 4 / 2;
  }
}
.tools-circle-3 {
  position: absolute;
  height: @tools-circle-dimension * 2 / 4;
  width: @tools-circle-dimension * 2 / 4;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @media @md, @sm, @xs {
    height: @tools-circle-dimension * 2 / 4 / 2;
    width: @tools-circle-dimension * 2 / 4 / 2;
  }
}
.tool-circle {
  height: @tools-circle-dimension * 1 / 4;
  width: @tools-circle-dimension * 1 / 4;
  border-radius: 50%;
  @media @md, @sm, @xs {
    height: @tools-circle-dimension * 1 / 4 / 2;
    width: @tools-circle-dimension * 1 / 4 / 2;
  }
}
.tool-col {
  margin-bottom: @tools-circle-dimension / 8;
  @media @md, @sm, @xs {
    margin-bottom: @tools-circle-dimension / 8 / 2;
  }
}
.portfolio-background {
  filter: blur(60px);
}
.portfolio-blob {
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: -45vw;
  z-index: -1;
  height: 20vw;
  width: 20vw;
  background-color: @primary-color;
  z-index: -1;
  @media @sm, @xs {
    height: 40vw;
    width: 40vw;
  }
}
.portfolio-blob-2 {
  position: absolute;
  opacity: 0.3;
  top: 20vw;
  left: -60vw;
  z-index: -1;
  height: 20vw;
  width: 20vw;
  background-color: @secondary-color;
  z-index: -1;
  @media @sm, @xs {
    height: 40vw;
    width: 40vw;
  }
}
.portfolio-image {
  transition: all 0.2s linear;
  width: 100%;
  border-radius: 10%;
  cursor: pointer;
  @media @sm, @xs {
    max-width: 400px;
  }
  &:hover {
    filter: brightness(1.1);
  }
  &:active {
    filter: brightness(0.9);
  }
}
.portfolio-github-link {
  font-size: 24px;
}
.footer-container {
  background-color: @primary-color-darkest;
}